.leaderboard {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leaderboard-list {
    padding: 1vh 1vw 3vh 1vw;
    list-style: none;
    color: black;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 12px;
    background-color: white;
}

.list-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.list-entry {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cell {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: .5vh;
    margin-bottom: .5vh;
}