.header {
    /* width: 100vw; */
    height: 5vh;
    background-color: rgb(82, 0, 82);
    /* padding: 0 5%; */
    position: relative;
    z-index: 10;
}

.header nav {
    height: 100%;
}

.header ul {
    height: 100%;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-around;
}

.header li {
    font-size: 2vmin;
    margin: 2vw;
    width: 100%;
    text-align: center;
}

.header a {
    scale: 100%;
    color: white;
    text-decoration: none;
    text-shadow: .2vmin .2vmin 0.6vmin rgb(80, 11, 69);
}

.header a:hover,
.header a:active,
.header a.active {
    color: #cdcf76;
    padding-bottom: 0.25vh;
    border-bottom: .3vh solid #cdcf76;
}

.header button {

    font: inherit;
    background-color: transparent;
    /*border: 1px solid white;*/
    color: white;
    /*font-weight: bold;*/
    padding: 0.5vh 1.5vw;
    border: none;
    cursor: pointer;
}

.active-route a{
    color: #cdcf76;
    padding-bottom: 0.25vh;
    border-bottom: .3vh solid #cdcf76;
}

@media only screen and (orientation: portrait) { 
    .header li {
        font-size: 1.4vmax;
    }
}