.home-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 45vw;
    height: 30vh;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 12px;
    background-color: rgb(95, 11, 106);
}

.menu-controls {
    /* width: 20%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.login-button {
    background-color: green;
    color: white;
}
.login-button:active {
    background-color: rgb(1, 200, 1);
}

.signup-button {
    background-color: rgb(47, 47, 198);
    color: white;
}
.signup-button:active {
    background-color: rgb(59, 59, 255);
}

.demo-button {
    background-color: rgb(201, 132, 2);
    color: white;
}
.demo-button:active {
    background-color: rgb(251, 164, 3);
}

.play-button {
    background-color: green;
    color: white;
}
.play-button:active {
    background-color: rgb(1, 200, 1);
}

.logout-button {
    background-color: rgb(201, 132, 2);
    color: white;
}
.logout-button:active {
    background-color: rgb(251, 164, 3);
}

.home-menu button {
    font-size: 2vmin;
    width: 30vw;
    height: 5vh;
    margin: .3vh 0 .3vh 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 8px;
    border: 0px;
    /* font-size: 1.2rem; */
}

.home-menu button:hover {
    cursor: pointer;
}