.welcome-message {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6vmin;
    font-size: 6vmin;
    text-shadow: .3vmin .3vmin 0.6vmin rgb(80, 11, 69);
}