.game-options {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
    margin: 1vmin;
    width: 30%;
}

.control-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.control-panel button {
    font: inherit;
    color: white;
    padding: 1.4vmin 2vmin;
    border-radius: 8px;
    margin: 1vmin;
    width: 100%;
    font-size: 2.5vmin;
    cursor: pointer;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
    text-shadow: .2rem .2rem .4rem rgb(92, 47, 19);
}

.control-panel button:focus {
    outline: none;
}

.control-panel button:hover {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.26);
}

.control-panel button:active {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.26);
}

.control-panel button:disabled {
    background-color: #ccc;
    border-color: #ccc;
    box-shadow: none;
    color: #3f3f3f;
    cursor: not-allowed;
}

.continue-button {
    background-color: darkgoldenrod;
    border: 1px solid darkgoldenrod;
}

.continue-button:hover {
    background-color: rgb(220, 163, 18);
    border: 1px solid rgb(220, 163, 18);
}

.continue-button:active {
    background-color: rgb(116, 89, 21);
    border: 1px solid rgb(116, 89, 21);
}

.retry-button {
    background-color:crimson;
    border: 1px solid crimson;
}

.retry-button:hover {
    background-color: rgb(255, 34, 78);
    border: 1px solid rgb(255, 34, 78);
}

.retry-button:active {
    background-color: rgb(155, 15, 43);
    border: 1px solid rgb(155, 15, 43);
}