.container {
    text-align: center;
    padding: 0.8vh;
    margin: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 12px;
    width: 30vw;
    background-color: rgb(96, 0, 96);
    color: white;
    margin-top: 15vh;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.input-group {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}

.input-group label {
    width: 2rem;
}

.button {
    cursor: pointer;
    font: inherit;
    color: white;
    background-color: #9312d4;
    border: 1px solid #ac74d1;
    border-radius: 4px;
    padding: 0.5rem 2.5rem;
    width: 70%;
    margin: auto;
}

.button:hover {
    background-color: #873abb;
    border-color: #873abb;
}

.button:active {
    background-color: #d99902;
}

.toggle {
    margin-top: 1rem;
    background-color: transparent;
    color: #c28ee4;
    border: none;
    padding: 0.15rem 1.5rem;
}