.flip-base {
    perspective: 1000px;
    margin: 1rem;
}

.flip-inner {
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-base:hover .flip-inner{
    transform: rotateY(180deg);
}

.container {
    text-align: center;
    padding: 0.5rem;
    margin: 1rem auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 12px;
}

.card {
    margin: auto;
    width: 34vh;
    height: 50vh;
    text-align: center;
    padding: 0.5rem;
    margin: 1rem auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 12px;
    background-color: white;
}

.healthbar {
    width: 100%;
    height: 40px;
    border: 1px solid #575757;
    margin: 1rem 0;
    background: #fde5e5;
}

.healthbar__value {
    background-color: #00a876;
    width: 100%;
    height: 100%;
}

.monster-portrait {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 256px;
    width: 256px;
/*     background-color: rgb(200, 185, 149); */
}

.monster-portrait img {
    width: auto;
}

.card-front,
.card-back {
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.card-front {
    color: black;
}

/* Style the back side */
.card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}