.container {
    text-align: center;
    padding: 0.8vh;
    margin: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 12px;
    width: 80vw;
    max-width: 40rem;
    background-color: rgb(96, 0, 96);
    color: white;
    margin-top: 15vh;
}

.container h2{
    text-shadow: .2rem .2rem .4rem rgb(58, 13, 53);
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
}

.input-group {
    flex-direction: row;
    width: 75%;
    height: 5vmin;
    max-height: 2rem;
    min-height: 1.2rem;
    color: white;
    display: inline-flex;
    position: relative;
    justify-content: center;
    margin-top: 2vh;
    margin-bottom: 1vh;
    z-index: 0;
}

.input-group input {
    padding-left: 1vw;
    width: 100%;
    border: none;
    border-radius: 0px 4px 4px 0px;
}

.input-decoration {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #422740;
    border-radius: 4px 0px 0px 4px;
    width: 10%;
}

.input-decoration-outter {
    display: contents;
}

.input-group label {
    display: flex;
    flex-direction: column;
    width: 2rem;
}

.button {
    cursor: pointer;
    font: inherit;
    color: white;
    background-color: #9312d4;
    border: 1px solid #ac74d1;
    border-radius: 4px;
    padding: .4vmin;
    width: 45%;
    margin: auto;
    margin-top: 2vh;
    min-height: 2rem;
}

.button:hover {
    background-color: #873abb;
    border-color: #873abb;
}

.button:active {
    background-color: #d99902;
}

.toggle {
    margin-top: 1rem;
    background-color: transparent;
    color: #c28ee4;
    border: none;
    padding: 1vmin;
}

.input-group .tooltiptext {
    visibility: hidden;
    background-color: rgb(254, 165, 0);
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    padding-left: 1vmin;
    padding-right: 1vmin;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    font-size: .9vmin;
}

.input-group:hover .tooltiptext {
    visibility: visible;
}

.input-group .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(254, 165, 0) transparent transparent transparent;
}

.input-group .tooltiptext::before {
    content: " ";
    position: absolute;
    top: 102%;
    left: 50%;
    margin-left: -6px;
    border-width: 6px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}