.container {
    text-align: center;
    padding: 0.8vh;
    margin: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 12px;
    width: 50vw;
    background-color: rgb(96, 0, 96);
    color: white;
    margin-top: 15vh;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.input-group {
    flex-direction: row;
    width: 70%;
    height: 1.6rem;
    color: white;
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.input-group input{
    padding-left: 1vw;
    width: 100%;
    border: none;
    border-radius: 0px 4px 4px 0px;
}


.input-decoration {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#422740;
    border-radius: 4px 0px 0px 4px;
    width: 3vw;
}

.input-decoration-outter {
    display: contents;
}

.input-group label {
    display: flex;
    flex-direction: column;
    width: 2rem;
}

.button {
    cursor: pointer;
    font: inherit;
    color: white;
    background-color: #9312d4;
    border: 1px solid #ac74d1;
    border-radius: 4px;
    padding: 1vmin;
    width: 70%;
    margin: auto;
}

.button:hover {
    background-color: #873abb;
    border-color: #873abb;
}

.button:active {
    background-color: #d99902;
}

.toggle {
    margin-top: 1rem;
    background-color: transparent;
    color: #c28ee4;
    border: none;
    padding: 1vmin;
}