.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Jost', sans-serif;
  background-color: darkmagenta;
}

body {
  margin: 0;
  background-color: darkmagenta;
}

.container {
  text-align: center;
  padding: 0.5rem;
  margin: 1rem auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
}

section {
  width: 90%;
  max-width: 40rem;
  margin: auto;
}